{% extends 'dialogues/base.html'%}
{% load staticfiles %}

{% block title %} Home - BodhiBuddy! {% endblock %}

{% block maincontent %}


<!-- Header -->
<header>
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 counter">
					<img src="/static/dialogues/images/home.png" style="height:80px"> 
					<div id="counter_label">Campaigns: {{total_campaign_count}} </div>
				</div>

			</div>
		</div>
	</div>
</header>

<section id="chart">
<div class="container" >

</div>
</section>

<!-- Record Dialogue Section -->
<section>
<div class="container">
		<div class="row" style="margin-top:10px">
			<div class="col-md-6" id="div_district_summary">
				{% include 'dialogues/current_campaigns_list.html'%}
			</div>
			<div class="col-md-6" id="div_district_summary">
				{% include 'dialogues/new_campaign_form.html'%}
			</div>
		</div>
</div> <!-- container-->

</section>

<!-- About Section -->
<section id="about">
<div class="container" >
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>"Dialogue is an adventure, an adventure available to anyone. And sometimes it’s an adventure whose outcome can change history." - Dr Daisaku Ikeda</p>
		</div>
	</div>
</div>
</section>

{% endblock %}
~
