<div class="row" style="border:1px solid #eee; padding-right: 5px; padding-left: 5px">
	<div class="col-md-12">
<div class="row" id="newDialogueRow">
	<h4>Record a Home visit!</h4>
</div>
<div class="row control-group">
	<label>The person you visited</label>
	<input type="text" class="form-control" placeholder="Friend's Name" name="friend_name" id="friend_name" required="" data-validation-required-message="Enter Friend's name.">
</div>
<div class="row control-group">
	<button type="submit" id="dialog_submit_button" class="btn;" style="background:#001a66;color:white;width:100%;margin-top:8px;">Record Home Visit</button>
</div>

</div> <!-- column -->
</div> <!-- row -->



